.filter {
  display: flex;
  padding: 10px 265px;
  max-width: 1370px;
  gap: 20px;
  margin: 15px 0px;
  margin: 0 auto;
}

@media (max-width: 970px) {
  .filter {
    gap: 20px;
    padding: 10px 10px;
  }
}

@media (max-width: 570px) {
  .filter {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: unset;
    max-width: unset;
    justify-content: center;
  }
}
